<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Maps Test</title>
  <style>
    #map {
      height: 100vh;
      width: 100%;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLSCP__X3GE7iXp91VmaZoO_HZwYPRy6I"></script>
</head>
<body>
    <div style="margin: 16px;">
        <!-- Botón para volver -->
        <button (click)="goBack()" style="padding: 8px 16px; font-size: 16px; cursor: pointer;">
          Volver
        </button>
      </div>
  <div id="map"></div>
  <script>
    function initMap() {
      const location = { lat: 4.711, lng: -74.072 }; // Bogotá, Colombia
      const map = new google.maps.Map(document.getElementById("map"), {
        center: location,
        zoom: 12,
      });
    }
    window.onload = initMap;
  </script>
</body>
</html>
