<!-- Botón para volver a la lista de servicios -->
<button class="btn-back" (click)="goBack()">Volver al listado</button>

<h2>Carrito de Compras</h2>

<div *ngIf="cartItems.length === 0">
    <p>No hay productos en el carrito.</p>
</div>

<!-- Contenedor de productos en el carrito -->
<div class="cart-items-container">
    <div *ngFor="let item of cartItems" class="cart-item">
        <h3>{{ item.title }}</h3>
        <img [src]="item.imageUrl" alt="{{ item.title }}">
        <p>{{ item.description }}</p>
    </div>
</div>
